<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Story Blog</h5>
        <p class="grey-text text-lighten-4">Share your experiences with the world</p>
      </div>
      <div class="col l4 offset-l2 s12">

        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="/stories">Public Stories</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright <a href="www.randomdiv.com">Random: div Ahmed</a>
      {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
    </div>
  </div>
</footer>