<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0">

  <div style="background-color: #6351ce;">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Facebook-->
          <a class="fb-ic ml-0">
            <i class="fa fa-facebook white-text mr-lg-4"> </i>
          </a>
          <!--Twitter-->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-lg-4"> </i>
          </a>
          <!--Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-lg-4"> </i>
          </a>
          <!--Linkedin-->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-lg-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text mr-lg-4"> </i>
          </a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Story Blog</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can Share your thoughts, ideas and passion. I aspire to have this is as a no judgement blog for anybody
          who wishes to share and just talk.
        </p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Useful Links</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/stories">Public Stories</a>
        </p>
        <p>
          <a href="/about">About</a>
        </p>
        
      </div>

      <!--/.Second column-->

      <!--Third column-->
      {{!--
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Useful links</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div> --}}
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Sweden, Linköping</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> Ahmed@randomdiv.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>

      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="https://randomdiv.com">
      <strong> Ahmed</strong>
    </a>
  </div>
  <!--/.Copyright -->

</footer>
<!--/.Footer-->