<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Story Blog</title>
</head>
 
<body>
 {{> _header}}
 {{#if user}}
  {{> _add-btn}}
 {{/if}}
    <main>
      <div class="container">      
        {{{body}}}
      </div>  
    </main>
    {{> _footer}}
  {{!-- jquery cdn --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
  </script> {{!-- materialize cdn --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
  </script>
  <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
  <script>
    $(document).ready(()=>{
      $('.button-collapse').sideNav();
      $('select').material_select();
      $('.tooltipped').tooltip({delay: 50});
    });
    CKEDITOR.replace('body',{
      plugins: 'wysiwygarea,toolbar,basicstyles,link'
    });
   
  </script>
</body>

</html>