<h4>Your Stories</h4>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/show/{{id}}">{{title}}</a></td>
          <td>{{formatDate date "MMMM Do YYYY"}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a class="btn left-align blue" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i> Edit</a>
            <form action="/stories/{{id}}?_method=DELETE" id="delete-form" method="post">
              <button type="submit" class="btn red"><i class="fa fa-remove"></i> Delete</button>
            </form>
            </td>
        </tr>

      {{/each}}
    </tbody>
  </table>

{{else}}
  <p>You currently don't have any stories, go and create some, it's a lot of fun!!</p>
{{/if}}