{{#if user}} 
{{else}}
{{!-- <div class="intro blue z-depth-1">
  <h1 class="grey-text text-lighten-5">Blogging is fun! :)</h1>
  <a href="/auth/google" class="btn red darken-1">
  <i class="fa fa-google left"></i> Google Login</a>
  <p>Share with us, Do it, Do it now!! :)</p>
</div> --}}
<header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="videos/a10.mp4" autoplay= "true" loop= "true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content ">
      <h1>Story Blog</h1>
      <p>Bloggin can be fun!</p>
      <a href="/auth/google" class="btn btn-danger"><i class="fa fa-google left" style="font-size: 1em;"></i>OOGLE LOGIN</a>
    </div>
  </header>

{{/if}}