<h1>Add stories</h1>
<div class="row">
  <form action="/stories" class="col s12" method="post">
    <div class="row">
      <div class="input-field">
        <input type="text" name="title">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input type="text" name="image">
        <label for="title">Image url</label>
      </div>
    </div>
    

    <div class="row">
      <div class="input-field">
        <select name="status" id="">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          <option value="draft">Draft</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <p>
        <input type="checkbox" name="allowComments" id="filled-in-box" class="filled-in" checked="checked">
        <label for="filled-in-box">Allow Comments</label>
      </p>
    </div>
    <div class="row">
      <div class="input-field">
        <h5>Share your story</h5>
        <textarea type="text" name="body"></textarea>
      </div>
    </div>
    <input type="submit" value="Save" class="btn">
  </form>
</div>
