<h1>Add stories</h1>
<div class="row">
  <form action="/stories/{{story.id}}?_method=PUT" class="col s12" method="post">
    <div class="row">
      <div class="input-field">
        <input type="text" name="title" value="{{story.title}}">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input type="text" name="image" value="{{story.image}}">
        <label for="title">Image url</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <select name="status" id="">
          {{#select story.status}}
          <option value="public" selected>public</option>
          <option value="private">Private</option>
          <option value="draft">Draft</option>
          {{/select}}
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <p>
        <input type="checkbox" name="allowComments" id="filled-in-box" 
        class="filled-in" {{#if story.allowComments}} checked="checked"{{/if}}>
        <label for="filled-in-box">Allow Comments</label>
      </p>
    </div>
    <div class="row">
      <div class="input-field">
        <h5>Share your story</h5>
        <textarea type="text" name="body">{{story.body}}</textarea>
      </div>
    </div>
    <input type="submit" value="Save" class="btn">
  </form>
</div>
