<h1>Stories</h1>
<div class="row">
  {{#each stories}}
  <div class="col s12 m4">
    <div class="card story-post">
      <div class="card-image">
        {{#if user}}
          {{{editIcon user.id ../user.id id}}}
        {{/if}}
        <img class="post-img" src={{image}}>
      </div>
      <div class="card-content center-align">
        <h5>{{title}}</h5>
        <p class="story-text">{{stripTags (truncate body 100)}}</p>
        <br>
        <div class="card-action center-align">
          <a href="/stories/show/{{id}}" class="btn blue">Read More</a>
        </div>
        
        <div class="chip">
          <img src="{{user.image}}"> <a href="/stories/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
        </div>
        
      </div>
    </div>
  </div>
  {{else}}
  <p>No Stories found</p>
  {{/each}}
</div>