*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}
.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
}
.header-overlay {
  height: 100vh;
  position: absolute;
  top:  0;
  left: 0;
  width: 100vw;
  background-color: #225470;
  z-index: 1;
  opacity: 0.85;
}
.header-content {
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}
.header-content h1{
  font-size: 50px;
  margin-bottom: 0;
}
.header-content p{
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}
.btn{
  background: #cc293f;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
.fa-google{
  font-size: 1.5em;
}
@media(max-width: 960px){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
