body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.nav-wrapper .fa-bars{
  font-size: 25px;
  
}
footer{
  margin-top: 20px;
  background-color: rgb(28,35,49);
}
.story-text{
  height: 6em;
}
.dash-status{
  text-transform: capitalize;
}
#delete-form{
  display: inline;
}
.story-post{
  height: 40em;
}
.post-img{
  height: 20em;
}
.intro
{
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
  margin-bottom: 50px;
  margin-top: 5px;
  width: cover;
}

.intro h1
{
	font-weight: 900;
	text-transform: uppercase;
}
.page-footer{
  background-color: rgb(28,35,49);
}
.main-nav{
  background-color: rgb(28,35,49);
}


